<div class="gridContenedora">
  <div></div>
  <div>

    <form class="gridBuscador">
      <div>
        <div class="form-group">
            <input  class="form-control" type="text" placeholder="Nombre del establecimiento">
            <p><a href="#">Buscador avanzado</a></p>
        </div>
      </div>
      <div>
          <s-commons-BotonCTextoEIcono [infoBoton]="botones.buscar"></s-commons-BotonCTextoEIcono>
      </div>
    </form>

  </div>
  <div></div>
</div>
<!-- 
<p>
  {{inputInfoBuscador | json}} - buscador works! 
</p>
 -->