<div class="row">
  <div class="noticias">
    
    <div class="noticias_foto">
      <img src="../../../../assets/fakeData/img/noticias/capa_noticia116.jpg" alt="">
    </div>

    <div class="noticias_texto">
      <h4 id="noticia_fecha">
        24 de Agosto del 2018
      </h4>
      <h2>Intrépido nuevo desarrollo de homes de registros</h2>
      <p>
        This one goes out to the one I love This one goes out to the one I've left behind A simple prop to occupy my time This one
        goes out to the one I love Fire Fire This one goes out to the one I love This one goes out to the one I've left behind
        A simple prop to occupy my time This one goes out to the one I love
      </p>
      <small>
        Enlaces relacionados:
        <br>
        <b>
          <a href="#">Esto es solo una prueba de que la gente mira mas las imágenes de lo que lee en general</a>
        </b>
      </small>
    </div>
    
  </div>
</div>
