<s-commons-panel-pasos [infoInput]="_infoPasoAPaso" (salida)="cPanelPasos_activaPaso($event)" class="panelPasos">
</s-commons-panel-pasos>
<hr>
{{_pasoActual}}
<hr>



<form #preinscripcionForm="ngForm" class="Formulario seccionesPaso">
  <!-- seccionesPaso i - - - - - - - - - - - - - - - - - - -    -->

  {{preinscripcionForm.value | json}}



  <div class="container" [style.display]="_pasoActual === 0 ? 'block': 'none'">
    <!-- <div class="container" *ngIf="_pasoActual === 0"> -->
    <!-- <div class="container" [ngClass]="{ d-none: _pasoActual !== 0 } > -->
    <h2>Seleccione Provincia o Institución donde desea inscribirse</h2>
    <div class="row">

      <div class="col-12 col-md-6">
        <div class="contenedor">

          <div class="item">
            <div class="w30_">
              <p>Concurso por</p>
            </div>
            <div class="rb w70_">
              <div>
                <input type="radio" id="radio01" name="radio" value="true" 
                  ngModel  name="_a_concursaTipoProvincia" />
                <label for="radio01">
                  <span></span>Provincia</label>
              </div>
              <div>
                <input type="radio" id="radio02" name="radio" value="false" 
                  ngModel name="_a_concursaTipoProvincia" />
                <label for="radio02">
                  <span></span>Institución</label>
              </div>
            </div>
          </div>

        </div>
        
      </div>

      <!--  -->
      <div class="col-12 col-md-6">
        <!-- 
          <p>=> {{preinscripcionForm.value|json}}</p>
          <p>=> {{preinscripcionForm.value['_a_concursaTipoProvincia'] |json}}</p>
         -->
        <div class="contenedor" [style.display]="preinscripcionForm.value['_a_concursaTipoProvincia'] !== '' ? 'block': 'none'">
        <!-- <p>=> {{_provincias | json}}</p> -->

          <div class="item" [style.display]="preinscripcionForm.value['_a_concursaTipoProvincia'] === 'true' ? 'block': 'none'">
            <div class="w30_">
              <p>Provincia</p>
            </div>
            <div class="w30_">
              <select name="_a_concursaProvincia" ngModel>
                <option value="" selected disabled hidden>Seleccione provincia</option>
                <option *ngFor="let provincia of _provincias" value="{{provincia.idProvincia}}">{{provincia.nombre}}
                </option>
              </select>
            </div>
          </div>

          <!--   <div class="container" [style.display]="_pasoActual === 2 ? 'block': 'none'"> -->
          <div class="item" [style.display]="preinscripcionForm.value['_a_concursaTipoProvincia'] === 'false' ? 'block': 'none'">
            <div class="w30_">
              <p>Institución</p>
            </div>
            <div class="w30_">
              <select name="_a_concursaInstitucion" ngModel>
                <option value="" selected disabled hidden>Seleccione una institución formadora</option>
                <option *ngFor="let instfor of _institucionesFormadoras" value="{{instfor.id}}">{{instfor.nombre}}
                </option>
              </select>
            </div>
          </div>

          <div class="item"  [style.display]="preinscripcionForm.value['_a_concursaTipoProvincia'] !== '' ? 'block': 'none'">
            <div class="w30_">
              <p>Especialidad</p>
            </div>
            <div class="w30_">
              <select name="_a_concursaEspecialidad" ngModel>
                <option value="" selected disabled hidden>Seleccione una especialidad</option>
                <option *ngFor="let especialidad of _especialidades" value="{{especialidad.id}}">{{especialidad.nombre}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>














  <!-- <div *ngIf="_pasoActual === 1"> -->
  <div class="container" [style.display]="_pasoActual === 1 ? 'block': 'none'">

    <h2>Tipo de concurso al que desea inscribirse</h2>
    <div class="row">
      <div class="col-12">
        <div class="contenedor">
          <div class="row">

            <div class="col-6">
              <div class="item">
                <div class="w30_">
                  <p>Tipo de concurso</p>
                </div>
                <div class="w70_">
                  <select>
                    <option value="-seleccione-">-seleccione-</option>
                    <option value="1">Examen Unico</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="item">
                <div class="w30_">
                  <p>Subtipo de concurso</p>
                </div>
                <div class="w70_">
                  <select>
                    <option value="-seleccione-">-seleccione-</option>
                    <option value="1">Médico</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- <div *ngIf="_pasoActual === 2"> -->
  <div class="container" [style.display]="_pasoActual === 2 ? 'block': 'none'">


    <h2>Pre-inscripción a Concursos de Residencias - Confirmar elección</h2>

    <table id="la_lista" width="100%" border="0" cellspacing="0" cellpadding="0" class="sisa_tablas_x1">

      <tr>
        <th>
          <a href="">
            <b>Nombre</b>
          </a>
          <a href="">
            <span class="icon-bot_ico_listas_ordenar_descendente util_margen_iz10"></span>
          </a>
        </th>
        <th>
          <a href="">Provincia </a>
        </th>
        <th>
          <a href="">Tipo de concurso</a>
        </th>
        <th>
          <a href="">Subtipo de concurso</a>
        </th>
        <th>
          <a href="">Especialidad</a>
        </th>
        <th style="width: 20px;"></th>
      </tr>

      <tr>
        <td>DR. ALEJANDRO POSADAS - Médico</td>
        <td>Catamarca</td>
        <td>Examen Unico</td>
        <td>Medico</td>
        <td>Anestesiología</td>
        <td>
          <div>
            <span class="bot_al bot_al_pos icon-bot_ico_acceder_ver"></span>
          </div>
        </td>
      </tr>

      <tr>
        <td>ADOLFO CARRANZA - Médico</td>
        <td>Buenos Aires</td>
        <td>Examen Unico</td>
        <td>Medico</td>
        <td>Anestesiología</td>
        <td>
          <div>
            <span class="bot_al bot_al_pos icon-bot_ico_acceder_ver"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td>ACCION SOCIAL PARA ESTUDIANTES - UNIVERSIDAD NACIONAL - Médico</td>
        <td>Catamarca</td>
        <td>Examen Unico</td>
        <td>Medico</td>
        <td>Anestesiología</td>
        <td>
          <div>
            <span class="bot_al bot_al_pos icon-bot_ico_acceder_ver"></span>
          </div>
        </td>
      </tr>
    </table>



    <!-- Lista - icono i -------------------------- -->
    <div class="nobarra util_padding_10">
      <span id="MuestraBarra" class="icon-bot_ico_int_menu bot_al_bot util_textsize20"></span>
    </div>
    <!-- Lista - icono f -------------------------- -->

    <div class="col-12">
      <div class="boton boton_pos" id="paso_3_ok">
        <span class="icon-bot_ico_aceptar"></span>Enviar datos
      </div>
    </div>


  </div>








  <!-- <div *ngIf="_pasoActual === 3"> -->
  <div class="container" [style.display]="_pasoActual === 3 ? 'block': 'none'">

    <h2>Pre-inscripción a Concursos de Residencias - Completar encuesta (opcional)</h2>
    <p>
      La siguiente encuesta es opcional. La misma forma parte de una investigación que indaga los condicionamientos que
      tienen
      los profesionales al momento de elegir las especialidades. Sus resultados nos permitirán contar con información
      para
      mejorar la oferta y los procesos de formación de residencias. La información será rigurosamente analizada de
      manera anónima
      por personas autorizadas y no tendrán acceso a la misma los responsables del concurso para el cual se presenta.
      Agradeceremos
      mucho que pueda responder con absoluta sinceridad.
    </p>

    <strong>De las siguientes, distribuya el 100% de las razones que influyeron en usted para la elección de la
      especialidad a la que
      se presenta (sus respuestas deben sumar 100%):</strong>

    <div class="row">
      <div class="col-12 col-md-6">
          <div class="contenedor">

        <h3>Concurso por</h3>
        <div class="item">
          <div class="w70_">
            <p>1.Tradición familiar</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>2.Prestigio social o académico</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>3.Bienestar económico</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>4.Compromiso social y comunitario. Vocación de trabajo en terreno</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>5.Razones geográficas (irse o llegar a algún lugar)</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>6.Tiene más probabilidad de ingresar por la oferta de cargos disponibles</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>7.Le atraen la investigación y/o la docencia</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>8.Le resulta compatible con su expectativa de distribución del tiempo entre trabajo, familia, recreación,
              etc.</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>9.Una razón diferente de las mencionadas aquí</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>10.Descarte de otras alternativas</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w70_">
            <p>11.No lo tiene claro/no sabe</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
      </div>
    </div>

      <div class="col-12 col-md-6">
          <div class="contenedor">
        <h4>En un lapso de 8 años a partir de hoy, usted considera que se encontrará:</h4>
        <div class="item">
          <div class="form_rb w70_">
            <div>
              <input type="radio" id="radio01" name="radio" />
              <label for="radio01">
                <span></span>Practicando la especialidad en la cual se inscribe, en el mismo lugar</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>Practicando la especialidad en la cual se inscribe, en otro sitio</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>Practicando una subespecialidad</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>Practicando otra especialidad</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>Trabajando fuera del sector salud</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>Trabajando en gestión o administración de servicios</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>No lo sabe</label>
            </div>
          </div>
        </div>

        <h4>Respecto del ámbito en el que espera desarrollarse en el futuro:</h4>
        <div class="item util_margen_ar20">

          <div class="form_rb w70_">
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>A igualdad de ingresos y modalidades de contratación preferiría el subsector
                público</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>A igualdad de ingresos y modalidades de contratación preferiría el subsector
                privado</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>Trabajaría indistintamente en ambos subsectores</label>
            </div>
            <div>
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02">
                <span></span>No lo sabe</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>








  <!-- <div *ngIf="_pasoActual === 4"> -->
  <div class="container" [style.display]="_pasoActual === 4 ? 'block': 'none'">

    <h2>Pre-inscripción a Concursos de Residencias - Completar</h2>
    <div class="row">
      <div class="col-12 col-md-6">
          <div class="contenedor">
        <h3>Datos generales</h3>
        <div class="item">
          <div class="w30_">
            <p>Nombres</p>
          </div>
          <div class="w70_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Apellidos</p>
          </div>
          <div class="w70_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Documento</p>
          </div>
          <div class="w10_">
            <p>
              <strong>DNI</strong>
            </p>
          </div>
          <div class="w30_">
            <p>Número de documento</p>
          </div>
          <div class="w30_">
            <input type="text" placeholder="Ingrese el número de documento de la persona a buscar">
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Sexo</p>
          </div>
          <div class="w30_">
            <select>
              <option value="-seleccione-">-seleccione-</option>
              <option>Femenino</option>
              <option>Masculino</option>
              <option>Indeterminado</option>
            </select>
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Estado civil</p>
          </div>
          <div class="w30_">
            <select>
              <option value="-seleccione-">-seleccione-</option>
              <option value="0">Desconocido</option>
              <option value="1">Soltero/a</option>
              <option value="2">Casado/a</option>
              <option value="3">Divorciado/a</option>
              <option value="4">Viudo/a</option>
              <option value="5">Separado/a</option>
            </select>
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Hijos</p>
          </div>
          <div class="w10_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Fecha de nacimiento</p>
          </div>
          <div class="w30_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
          <div class="w10_">
            <span class="icon-bot_ico_capacitacion_agendaeinscripcion"></span>
          </div>
          <div class="w30_">
            <p>Edad</p>
          </div>
        </div>


        

        <div class="item">
          <div class="w30_">
            <p>Nacionalidad</p>
          </div>
          <div class="w30_">
            <select name="_a_xxxxxx" ngModel>
              <option value="" selected disabled hidden>Seleccione nacionalidad</option>
              <option *ngFor="let pais of _paises" value="{{pais.idPais}}">{{pais.nacionalidad}}
              </option>
            </select>
          </div>
        </div>


        <div class="item">
            <div class="w30_">
              <p>País de nacimiento</p>
            </div>
            <div class="w30_">
              <select name="_a_xxxxxx" ngModel>
                <option value="" selected disabled hidden>Seleccione pais</option>
                <option *ngFor="let pais of _paises" value="{{pais.idPais}}">{{pais.nombre}}
                </option>
              </select>
            </div>
          </div>

        

        <div class="item">
          <div class="w30_">
            <p>Provincia de nacimiento</p>
          </div>
          <div class="w30_">
            <select name="_a_xxxxxx" ngModel>
              <option value="" selected disabled hidden>Seleccione provincia</option>
              <option *ngFor="let provincia of _provincias" value="{{provincia.idProvincia}}">{{provincia.nombre}}
              </option>
            </select>
          </div>
        </div>


        <div class="itemImportante">
          <div class="item">
            <div class="w40_">
              <p>Correo electrónico</p>
            </div>
            <div class="w60_">
              <input type="text" placeholder="Ingrese el valor">
            </div>
          </div>
          <div class="item">
            <div class="w40_">
              <p>Confirme correo electrónico</p>
            </div>
            <div class="w60_">
              <input type="text" placeholder="Ingrese el valor">
            </div>
          </div>
          <div>
            <p>
              <b>IMPORTANTE</b>: El correo electrónico es imprescindible para la gestión de su pre-inscripción ya que el
              sistema
              lo utiliza para notificar diferentes operaciones (Por ejemplo para el envío del código que le permitirá
              consultar
              el estado de su inscripción). Verifique que sea correcto y que lo utilice actualmente.
            </p>
          </div>
        </div>
        </div>


      </div>

      <div class="col-12 col-md-6">
        
          <div class="contenedor">
        <h3>Domicilio de residencia actual</h3>

        

        <div class="item">
            <div class="w30_">
              <p>Provincia</p>
            </div>
            <div class="w30_">
              <select name="_a_xxxxxx" ngModel>
                <option value="" selected disabled hidden>Seleccione provincia</option>
                <option *ngFor="let provincia of _provincias" value="{{provincia.idProvincia}}">{{provincia.nombre}}
                </option>
              </select>
            </div>
          </div>
          
          
        <div class="item">
          <div class="w30_">
            <p>Localidad</p>
          </div>
          <div class="w10_">
            <span class="icon-bot_ico_buscar"></span>
          </div>
          <div class="w30_">
            <p>
              <a>Localidades</a>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Domicilio</p>
          </div>
          <div class="w30_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
          <div class="w5_">
            <p>Nro</p>
          </div>
          <div class="w5_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
          <div class="w5_">
            <p>Piso</p>
          </div>
          <div class="w5_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
          <div class="w5_">
            <p>Dpto</p>
          </div>
          <div class="w5_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Código postal</p>
          </div>
          <div class="w30_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
          <div class="w40_">
            <p>Formato tradicional de 4 dígitos o el nuevo de 8 caracteres</p>
          </div>
        </div>


        <div class="item">
          <div class="w30_">
            <p>Teléfono 1</p>
          </div>
          <div class="w20_">
            <select>
              <option value="-seleccione-">-seleccione-</option>
              <option value="2">Celular</option>
              <option value="3">Laboral</option>
              <option value="13">Otros/desconocido</option>
              <option value="1">Particular</option>
              <option value="10">Particular vecino</option>
              <option value="12">Tel/Fax</option>
            </select>
          </div>
          <div class="w40_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
          <div class="w10_">
            <span class="icon-bot_ico_agregar"></span>
          </div>
        </div>

      </div>
    </div>

      <div class="col-12 col-md-6">
        
          <div class="contenedor">
        <h3>Profesión actual</h3>
        <div class="item">
          <div class="w30_">
            <p>Título</p>
          </div>
          <div class="w70_">
            <select>
              <option value="-seleccione-">-seleccione-</option>
              <option>UNIVERSIDAD DE PALERMO</option>
              <option>UNIVERSIDAD DE SAN ANDRES</option>
              <option>UNIVERSIDAD NACIONAL DEL CHACO AUSTRAL</option>
              <option>UNIVERSIDAD FAVALORO</option>
              <option>UNIVERSIDAD NACIONAL DE GENERAL SARMIENTO</option>
              <option>UNIVERSIDAD GASTON DACHARY</option>
              <option>FUNDACION UNIVERSITARIA SAN MARTIN</option>
              <option>UNIVERSIDAD DE ASUNCION</option>
              <option>UNIVERSIDAD NACIONAL DE RIO NEGRO</option>
              <option>UNIVERSIDAD DEL ESTE</option>
              <option>INSTITUTOS Y HOSPITALES NACIONALES</option>
              <option>INSTITUTO DE CARDIOLOGIA Y CIRUGIA CARDIOVASCULAR - FUNDACION FAVALORO (EDIFICIO CENTRAL)</option>
              <option>CEMIC - HOSPITAL UNIVERSITARIO SEDE SAAVEDRA</option>
              <option>ALEJANDRO MIRANDA</option>
              <option>CENTRO MEDICO CLINICA DE LA SALUD</option>
              <option>ADOLFO VAN PRAET</option>
              <option>ARAGUSI-HOSPITAL VILLA</option>
              <option>HOSPITAL DE CLINICAS JOSE DE SAN MARTIN</option>
              <option>INSTITUTO DE INVESTIGACIONES MEDICAS DR. ALFREDO LANARI</option>
            </select>
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Tipo de matrícula</p>
          </div>
          <div class="w20_">
            <select>
              <option value="-seleccione-">-seleccione-</option>
              <option value="PR">Provincial</option>
              <option value="NA">Nacional</option>
            </select>
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Año de ingreso a la carrera</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Promedio de la carrera con aplazos</p>
          </div>
          <div class="w20_">
            <input type="text" placeholder="Ingrese el valor">
          </div>
          <div class="w50_">
            <p>Formato con hasta dos decimales, utilizar punto. (ejemplo 7.45)</p>
          </div>
        </div>
        <div class="item">
          <div class="w30_">
            <p>Título en trámite</p>
          </div>
          <div class="w20_">
            <select>
              <option value="-seleccione-">-seleccione-</option>
              <option value="PR">SI</option>
              <option value="NA">NO</option>
            </select>
          </div>
        </div>
          </div>
      </div>

<div class="col-12">
  <h3>Datos de la preinscripción</h3>
</div>
  <div class="col-12 col-md-6">

    <div class="contenedor">
      <div class="item">
        <div class="w50_">
          <p>Nombre del Concurso al cual se inscribe</p>
        </div>
        <div class="w50_">
          <p>Examen Unico 2018</p>
        </div>
      </div>
      <div class="item">
        <div class="w50_">
          <p>Fecha de inicio de la inscripción</p>
        </div>
        <div class="w50_">
          <p>14-11-2017</p>
        </div>
      </div>
      <div class="item">
        <div class="w50_">
          <p>Fecha de finalización de la inscripción</p>
        </div>
        <div class="w50_">
          <p>29-12-2017</p>
        </div>
      </div>
      <div class="item">
        <div class="w50_">
          <p>Fecha de examen</p>
        </div>
        <div class="w50_">
          <p>20-06-2018</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">

    <div class="contenedor">



      <div class="item">
        <div class="w30_">
          <p>Provincia en la que concursa</p>
        </div>
        <div class="w30_">
          <select name="_a_xxxxxx" ngModel>
            <option value="" selected disabled hidden>Seleccione provincia</option>
            <option *ngFor="let provincia of _provincias" value="{{provincia.idProvincia}}">{{provincia.nombre}}
            </option>
          </select>
        </div>
      </div>

      <div class="item">
        <div class="w40_">
          <p>Especialidad en la que concursa</p>
        </div>
        <div class="w30_">
          <select>
            <option value="-seleccione-">-seleccione-</option>
            <option>Psicólogo</option>
            <option>Psicopedagogo</option>
            <option>Kinesiólogo</option>
            <option>Terapista ocupacional</option>
            <option>Fonoaudiólogo</option>
            <option>Licenciado en nutrición</option>
            <option>Obstétrica/o</option>
            <option>Bioquímico</option>
            <option>Profesional de análisis clínicos</option>
            <option>Trabajador social</option>
            <option>Biólogo</option>
            <option>Microbiólogo</option>
            <option>Bacteriólogo</option>
            <option>Tecnología alimentaria</option>
            <option>Enfermero</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div class="w30_">
          <p>Provincia en la que se rinde</p>
        </div>
        <div class="w30_">
          <select name="_a_xxxxxx" ngModel>
            <option value="" selected disabled hidden>Seleccione provincia</option>
            <option *ngFor="let provincia of _provincias" value="{{provincia.idProvincia}}">{{provincia.nombre}}
            </option>
          </select>
        </div>
      </div>

      <div class="item">
        <div class="w40_">
          <p>Localidad en la que se rinde</p>
        </div>
        <div class="w30_">
          <select>
            <option value="-seleccione-">-seleccione-</option>
            <option>Ciudad de Buenos Aires </option>
            <option>Carhué</option>
            <option>Colonia San Miguel Arcángel </option>
            <option>Delfín Huergo </option>
            <option>Espartillar </option>
            <option>Esteban Agustín Gascón</option>
            <option>La Pala</option>
            <option>Maza</option>
            <option>Rivera</option>
            <option>Thames</option>
            <option>Villa Margarita</option>
            <option>Yutuyaco</option>
            <option>Adolfo Gonzales Chaves (Est. Chaves)</option>
            <option>De la Garma</option>
            <option>Juan E. Barra</option>
            <option>Vásquez</option>
            <option>Alberti (Est. Andrés Vaccarezza)</option>
            <option>Coronel Seguí</option>
            <option>Mechita </option>
            <option>Pla </option>
            <option>Villa Grisolía (Est. Achupallas)</option>
            <option>Villa María</option>
            <option>Villa Ortiz (Est. Coronel Mom)</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>


</form>
