
<!-- Lista - cabeza i -------------------------- -->

<form class="listas_cabeza container">

    <!-- 
            <div class="row" id="lista_referenciacolumnas">
              <div class="col-xs-12">
                <div class="submenu">
                  <h3>Referencias</h3>
                  <div class="botones">
                    <div id="lista_referenciacolumnas_bot_cerrar" class="bot_al_bot botoncerrar">
                      <span class="icon-bot_ico_cancelar"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 util_margen_vert10">
                <h4>Colores de filas</h4>
              </div>
              <div class="col-xs-3">
                <div class="referencia">
                  <div class="referenciacolor util_col_pos"></div>
                  <p>Registo aprobado</p>
                </div>
                <div class="referencia">
                  <div class="referenciacolor util_col_neg"></div>
                  <p>Registo desaprobado</p>
                </div>
                <div class="referencia">
                  <div class="referenciacolor util_col_rojo"></div>
                  <p>Registo reaprobado</p>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="referencia">
                  <div class="referenciacolor util_col_verde"></div>
                  <p>Registo recontraprobado</p>
                </div>
                <div class="referencia">
                  <div class="referenciacolor util_col_azul"></div>
                  <p>Registo perdido</p>
                </div>
                <div class="referencia">
                  <div class="referenciacolor util_col_amarillo"></div>
                  <p>Registo registrado</p>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="referencia">
                  <div class="referenciacolor util_col_naranja"></div>
                  <p>Registo 1</p>
                </div>
                <div class="referencia">
                  <div class="referenciacolor util_col_violeta"></div>
                  <p>Registo +1</p>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="referencia">
                  <div class="referenciacolor util_col_magenta"></div>
                  <p>Registo aprobado</p>
                </div>
                <div class="referencia">
                  <div class="referenciacolor util_col_cyan"></div>
                  <p>Registo aprobado</p>
                </div>
              </div>

              <div class="col-xs-12 util_margen_vert10">
                <h4>Filtros de columnas</h4>
              </div>
              <div class="col-xs-3">
                <b>Código de establecimiento</b>: Código del establecimiento
                <br>
                <b>Nombre</b>: Nombre del establecimiento
                <br>
                <b>Provincia</b>: Provincia del establecimiento
                <br>
                <b>Departamento</b>: Departamento del establecimiento
                <br>
                <b>Localidad</b>: Localidad del establecimiento
                <br>
              </div>
              <div class="col-xs-3">
                <b>Barrio/Comuna</b>: Barrio/comuna del establecimiento
                <br>
                <b>Dependencia</b>: Dependencia del establecimiento
                <br>
                <b>Tipología</b>: Tipología del establecimiento
                <br>
                <b>Código postal</b>: Código postal del establecimiento
                <br>
                <b>Categoría de tipología</b>: Nombre de la categoría de la tipología
                <br>
              </div>
              <div class="col-xs-3">
                <b>Domicilio</b>: Domicilio del establecimiento
                <br>
                <b>Responsable</b>: Nombre del responsable del establecimiento
                <br>
                <b>Teléfono</b>: Número de teléfono del establecimiento
                <br>
                <b>Origen de financiamiento</b>: Origen de financiamiento del establecimiento
                <br>
                <b>Tipo de establecimiento</b>: Nombre del tipo de establecimiento
                <br>
              </div>
              <div class="col-xs-3">
                <b>Email 1</b>: Dirección de mail 1 del establecimiento
                <br>
                <b>Email 2</b>: Dirección de mail 2 del establecimiento
                <br>
                <b>Sitio web</b>: URL del sitio web del establecimiento
                <br>
                <b>Abierto a la comunidad</b>: Indica si el establecimiento se encuentra abierto a la comunidad
              </div>
            </div>

            <div class="row util_margen_ab20" id="lista_configuracioncolumnas">
              <div class="col-xs-12">
                <div class="submenu">
                  <h3>Configuración de columnas</h3>
                  <div class="botones">
                    <div id="lista_configuracioncolumnas_bot_cerrar" class="bot_al_bot botoncerrar">
                      <span class="icon-bot_ico_cancelar"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Código de establecimiento</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Nombre</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Provincia</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Localidad</label>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Barrio/Comuna</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Dependencia</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Tipología</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Código postal</label>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Categoría de tipología</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Domicilio</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Responsable</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Teléfono</label>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Origen de financiamiento</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">GLN</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Codigo Interno Sisa</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Tipo de establecimiento</label>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Email 1</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Email 2</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Sitio web</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Abierto a la comunidad</label>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="util_rec_sfa3 mod_sisa util_textcolor_blanco">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">Selección por defecto</label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">Seleccionar todos</label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">Deseleccionar todos</label>
                  </div>
                </div>
              </div>
              <br>
            </div>


            <div class="row util_margen_ab20 lista_exportarreportes" id="lista_exportarreportes">
              <div class="col-xs-12">
                <div class="submenu">
                  <h3>Descargar lista</h3>
                  <div class="botones">
                    <div id="lista_exportarreportes_bot_cerrar" class="bot_al_bot botoncerrar">
                      <span class="icon-bot_ico_cancelar"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 util_textsize20 formatos">
                <p>Exportar página actual</p>
                <div class="iconos">
                  <span class="icon-bot_ico_archivo_pdf bot_al_pdf util_textsize20"></span>
                  <span class="icon-bot_ico_archivo_xls bot_al_xls util_textsize20"></span>
                  <span class="icon-bot_ico_archivo_csv bot_al_csv util_textsize20"></span>
                </div>
              </div>

              <div class="col-xs-12 util_textsize20 formatos">
                <p>Exportar toda la lista</p>
                <div class="iconos">
                  <span class="icon-bot_ico_archivo_pdf bot_al_pdf util_textsize20"></span>
                  <span class="icon-bot_ico_archivo_xls bot_al_xls util_textsize20"></span>
                  <span class="icon-bot_ico_archivo_csv bot_al_csv util_textsize20"></span>
                </div>
              </div>
            </div>
    -->



    <div class="row botoneraPrincipal">

      
      <div class="col-xs-12 col-md-4 opciones">

        <div class="exportarlista">
          <span id="lista_cabeza_btn_exportarlista" class="icon-bot_ico_archivos_descargar bot_al_bot util_textsize20"></span>
        </div>
        <div class="referenciacolumnas">
          <span id="lista_cabeza_btn_referenciadecolumnas" class="icon-bot_ico_auditoriaconsultar bot_al_bot util_textsize20"></span>
        </div>

        <div class="geolocalizacion">
          <span class="icon-bot_ico_geolocalizacion_mapa bot_al_bot util_textsize20"></span>
        </div>

        <div class="configuracion">
          <span id="lista_configuracioncolumnas_bot" class="icon-bot_ico_configurar bot_al_bot util_textsize20"></span>
        </div>
        <div class="tamanodefuente_red">
          <span id="lista_fuentereducir_bot" class="icon-bot_ico_fuentereducir bot_al_bot util_textsize20"></span>
        </div>
        <div class="tamanodefuente_agr">
          <span id="lista_fuenteagrandar_bot" class="icon-bot_ico_fuenteagrandar bot_al_bot util_textsize20"></span>
        </div>

      </div>
      
      <div class="col-xs-12 col-md-4 paginacion">
            <div  data-toggle="tooltip" data-placement="top" title="Mostrar resultados en grupos de ...">
              <span class="icon-bot_ico_listas_primer bot_al_bot util_textsize20"></span>
            </div>
            <div>
              <span class="icon-bot_ico_listas_anterior bot_al_bot util_textsize20"></span>
            </div>
            <div class="n_pagina">
              <input type="text" class="form-control" placeholder={{propiedadesDeLista.pagina_actual}}>
            </div>
            <div>
              <span class="icon-bot_ico_listas_siguiente bot_al_bot util_textsize20"></span>
            </div>
            <div>
              <span class="icon-bot_ico_listas_ultimo bot_al_bot util_textsize20"></span>
            </div>
      </div>

      
      <div class="col-xs-12 col-md-4 numeracion">
        <p>
          <strong>{{propiedadesDeLista.cantidad}}</strong>
          resultados, página <strong>{{propiedadesDeLista.pagina_actual}}</strong> de <strong>{{propiedadesDeLista.paginas}}</strong>
        </p>
        <select class="n_pagina sisa_buscador_select" data-toggle="tooltip" data-placement="top" title="Mostrar resultados en grupos de ...">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
      </div>


    </div>

</form>
<!-- Lista - cabeza f -------------------------- -->

{{propiedadesDeLista | json}}