
<h1>Un ninja robo esta página</h1>
<h4>... aunque también pudo ser saqueada por empresarios amigos del grupo MacriCat</h4>
<br>

<img src="https://media.giphy.com/media/jeAHzKVKDqzhS/giphy.gif">

<br>
<br>
<br>

<h1>Pruebas</h1>


<p>botonera normal</p>
<div class="contenedorDeBotones">
    <s-commons-BotonCTextoEIcono [infoBoton]="bot_agregar"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="bot_agregar"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="bot_agregar"></s-commons-BotonCTextoEIcono>
</div>
<br>
<p>botonera invertida</p>
<div class="contenedorDeBotones inverso">
    <s-commons-BotonCTextoEIcono [infoBoton]="bot_agregar"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="bot_agregar"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="bot_agregar"></s-commons-BotonCTextoEIcono>
</div>

<button type="button" placement="left" ngbTooltip="Uooopss!!">Santos Popups!</button>

<br>

<button type="button" class="btn btn-secondary tito" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
  Tooltip with HTML
</button>

<br>

<button type="button" class="btn btn-secondary tito" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>

  <br>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary tito" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  
  <s-commons-BotonCTextoEIcono [infoBoton]="bot_agregar"></s-commons-BotonCTextoEIcono>
  