
<div class="row Formulario">
  <form #formConsulta="ngForm" class="col-12">
      
      <div class="item">
          <div class="w50_">
              <input type="text" placeholder="Ingrese código" name="dato">
          </div>
          <div class="w50_">
              <s-commons-BotonCTextoEIcono [infoBoton]="_botones.buscar" (click)="consultarPreinscripcionConsulta(dato)" ></s-commons-BotonCTextoEIcono>
          </div>
      </div>
      
  </form>
</div>
<div *ngIf="consultarInscripcionResultado === true" class="respuesta">
  {{t_resultado | json }}

    <s-commons-lista [idLista]='t_resultado' class="row"></s-commons-lista>


</div>  


  <div class="listado">
    <!-- {{_residentes |json}}   -->
    <div *ngFor="let residente of _residentes" class="fila">
      <div>{{residente.id}}</div>
      <div>{{residente.apellido}}</div>
      <div>{{residente.nombre}}</div>
      <div>{{residente.tipodoc}}</div>
      <div>{{residente.ndoc}}</div>
      <div>{{residente.paisnacimiento}}</div>
      <!-- <div>{{residente.}}</div> -->
      <div class="acciones">
          <div class="al"><span class="icon-bot_ico_acceder_ver"></span></div>
          <div class="al"><span class="icon-bot_ico_cancelar"></span></div>
          <div class="al"><span class="icon-askeletor"></span></div>     
      </div>
    </div>
  </div>
