<p>
  consultar-inscripcion works!!!!
</p>
<div class="row Formulario">
  <form #formConsulta="ngForm" class="col-6">
      
      <div class="item">
          <div class="w70_">
              <input type="text" placeholder="Ingrese código" name="dato">
          </div>
          <div class="w30_">
              <div (click)="consultarInscripcionConsulta(dato)" class="boton boton_general" id="bot_prof">
                  <span class="icon-bot_ico_buscar"></span>Buscar
              </div>
          </div>
      </div>
      
  </form>
</div>
<div *ngIf="consultarInscripcionResultado === true" class="respuesta">
  {{t_resultado | json }}

    <s-commons-lista [idLista]='t_resultado' class="row"></s-commons-lista>


</div>  


<!-- <div *ngIf="_pasoActual === 2"> -->
<div class="container">


  <h2>Pre-inscripción a Concursos de Residencias - Confirmar elección</h2>


  <div class="listado">
    {{preinscripciones |json}}  
    <div *ngFor="let preinscripcion of preinscripciones" class="fila">
      <div>{{preinscripcion.$key}}</div>
      <div>{{preinscripcion._a_concursaTipoProvincia}}</div>
      <div>{{preinscripcion._a_concursaProvincia}}</div>
      <div>{{preinscripcion._a_concursaInstitucion}}</div>
      <div>{{preinscripcion._a_concursaEspecialidad}}</div>
      <div>{{preinscripcion._b_concursotipo}}</div>
      <div>{{preinscripcion._b_concursosubtipo}}</div>
      <div class="acciones">
          <div class="al"><span class="icon-bot_ico_acceder_ver"></span></div>
          <div class="al"><span class="icon-bot_ico_cancelar"></span></div>
          <div class="al"><span class="icon-askeletor"></span></div>     
      </div>
    </div>
  </div>

  <div class="estadoInscripciones" (click)="chequeaEstadoInscripciones()">
    <span class="icon-bot_ico_auditoriaconsultar"></span>
    <p>Consulte el estado actual de las inscripciones</p>
  </div>
  <div class="listado" [style.display]="_muestraEstadoInscripciones === true ? 'block': 'none'">
    <div><p>Todavia no llegue a hacer esto</p></div>
  </div>
</div>