<s-commons-basicPage [info]="_infoPaginacabecera"></s-commons-basicPage>


<p>{{_prueba}}</p>

<hr>

<s-commons-encabezado [infoInput]="_infocomponentes[1]"></s-commons-encabezado>

<hr>

<h1>Componente: Recuadro de informacion </h1>
<h4>s-commons-recuadroInfo</h4>
<br>
<!--  -->
<s-commons-recuadroInfo [infoInput]="_infocomponentes[2][0]"></s-commons-recuadroInfo>
<br>

<s-commons-recuadroInfo [infoInput]="_infocomponentes[2][1]"></s-commons-recuadroInfo>

<hr>

<div>
    <h1>Componente: Panel pasos </h1>
    <h4>s-commons-panel-pasos</h4>
    <br>
    <p>Paso actual => {{c0_pasoActual}}</p>
    <s-commons-panel-pasos [infoInput]="_infocomponentes[0]" (salida)="c0_activaPaso($event)"></s-commons-panel-pasos>

    <br>
    <div *ngIf="c0_pasoActual === 0">Info 1</div>
    <div *ngIf="c0_pasoActual === 1">Info 2</div>
    <div *ngIf="c0_pasoActual === 2">Info 3</div>
    <div *ngIf="c0_pasoActual === 3">Info 4</div>
    <div *ngIf="c0_pasoActual === 4">Info 5</div>
    <br>

    <div class="contenedorDeBotones">              
        <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_1" (click)="c0_activaDesactivaPaso(0)"></s-commons-BotonCTextoEIcono>
        <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_2" (click)="c0_activaDesactivaPaso(1)"></s-commons-BotonCTextoEIcono>
        <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_3" (click)="c0_activaDesactivaPaso(2)"></s-commons-BotonCTextoEIcono>      
        <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_4" (click)="c0_activaDesactivaPaso(3)"></s-commons-BotonCTextoEIcono>
        <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_5" (click)="c0_activaDesactivaPaso(4)"></s-commons-BotonCTextoEIcono>
        <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.completar" (click)="c0_resetea()"></s-commons-BotonCTextoEIcono>
    </div>
</div>

<hr>

