.contenedor{
	display: grid;
	grid-template-columns: 1fr minmax(600px, 900px) 1fr; 
}

.contenedorDePaneles{	display: flex; flex-direction: row; }
.contenedorDePaneles > li{	
	display: flex;
	flex-direction: column;
	/* 
	background-color: lightpink;
	border: 3px dotted violet; 
	*/
}
.contenedorDePaneles > li:first-child .nexo_i,
.contenedorDePaneles > li:last-child .nexo_d{	display: none;}

.contenedorDePaneles .contenedorDeIndicador {
	position: relative; 
	width: 100%; 
	margin-bottom: 10px;	
	/* border: 3px dotted red; */
}

.contenedorDePaneles .contenedorDeIndicador > .nexo_i,
.contenedorDePaneles .contenedorDeIndicador > .nexo_d{
	position: absolute; 
	z-index: 1;
	top: 31px;
	height: 6px;
	width: 50%;
	border-left-style: none;
	border-right-style: none;
	/* border: thin dotted black; */
}
.contenedorDePaneles .contenedorDeIndicador > .nexo_i{	margin-right: 50%;	right: 0px !important; background-color: grey;}
.contenedorDePaneles .contenedorDeIndicador > .nexo_d{	margin-left: 50%;	left: 0px !important;	background-color: grey;}


.contenedorDePaneles .pasoNumero {
	position: relative; 
	z-index: 10;
	width: 64px; 
	height: 64px; 
	left: 50%;
	margin-left: -34px;
	border-radius: 64px; 
	background-color: grey;
	border: thi3pxn dotted violet;
	cursor: pointer;
}

.contenedorDePaneles .pasoNumero > .color{ 
	position: relative; 
	top: 4px;
	width: 56px; 
	height: 56px; 
	left: 50%;
	margin-left: -28px;
	border-radius: 96px; 
	background-color: grey; 
	border: 2px white solid;
}
.contenedorDePaneles .pasoNumero > .color h2{ 
	position: relative; 
	color: white; 
	text-align: center; 
	/* top: 50%; 	margin-top: -24px; */
	font-size: 36px !important;
	margin-top: 5px;
}
.contenedorDePaneles .pasoInfo > * {text-align: center;}


.colorCompletado{	background-color: #006633 !important; }


/* // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.SISA_panelPasos{ 
	display: flex;
	flex-direction: column;
	position: relative;
	align-content: stretch;
	margin: 20px 0 20px 0;
}
.menu{ 	max-width: 100%; }
.menu > .pasos{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.menu > .pasos > div{
	width: 100%;
	margin: 0px;
}
.menu > .pasos > div:first-child{	margin-left: 0px; }
.menu > .pasos > div:last-child{	margin-right: 0px; }

.menu > .pasos > div > .pasoNumero{ position: relative; }
.menu > .pasos > div > .pasoNumero > .nexo_i,
.menu > .pasos > div > .pasoNumero > .nexo_d{
	position: absolute; 
	z-index: 1;
	top: 35px;
	height: 6px;
	width: 50%;
	border-left-style: none;
	border-right-style: none;
}
.menu > .pasos > div > .pasoNumero > .nexo_i{	margin-right: 50%;	background-color: grey;}
.menu > .pasos > div > .pasoNumero > .nexo_d{	margin-left: 50%;	background-color: grey;}

.menu > .pasos > div:first-child .pasoNumero .nexo_i{	display: none;	}
.menu > .pasos > div:last-child .pasoNumero .nexo_d{	display: none;	}

.menu > .pasos > div > .pasoNumero > .color,
.menu > .pasos > div > .pasoNumero > .colorFondo{
	position: absolute; 
}
.menu > .pasos > div > .pasoNumero > .color{
	z-index: 10;
	height: 72px;
	width: 72px;
	left: 50%;
	margin: 0px  0px 0px -36px !important;
	border-radius: 36px;
	border: white 2px solid;
	background-color: grey;
	cursor: pointer;
}
.menu > .pasos > div > .pasoNumero > .colorFondo{
	z-index: 8;
	height: 80px;
	width: 80px;
	left: 50%;
	margin: -4px 0px 0px -40px !important;
	border-radius: 40px;
	background-color: grey;
}
.menu > .pasos > div > .pasoNumero > .color > h2{	margin-top: 7px; font-size: 48px !important; ; text-align: center;	color: white; }

.menu > .pasos > div > .pasoTitulo {			margin-top: 90px; }
.menu > .pasos > div > .pasoTitulo > *{	text-align: center;}
.menu > .pasos > div > .pasoTitulo > h3{	margin-top: 34px; margin-bottom: 4px; }
.menu > .pasos > div > .pasoTitulo > p{	margin: -6px 0px 0px 0px !important; line-height: 1.2; }

.panelPasos_horizontal .seccionesPaso > div > h2:first-child{ margin: 20px 0px 40px 0px; }