<div class="path">path</div>

<!-- 
    {{_info | json}}
    <hr>
    {{infoPagina | json}}
    <hr>
    info[0] = subtitulo
    info[1] = titulo
    info[2] = color registro
    info[3] = icono registro
    info[4] = texto introductorio
    info[5] = location volver
    info[6] = info ayuda
 -->
<div class="sisa_page_cabecera">

  <div class="pagina_titulo">
    <div class="logo_registro {{_info[2]}}">
      <span class="icon-{{_info[3]}}"></span>
    </div>
    <div class="titulo">
      <h4 *ngIf="_info[0] !=''">{{_info[0]}}</h4>
      <h2>{{_info[1]}}</h2>
    </div>
    <div class="botones">
      <a *ngIf = "infoPagina.location" href="">
        <span class="icon-bot_ico_volver"></span>
      </a>
      <a href="http://localhost:4200/{{info[5]}}" target="_blank"  *ngIf = "(infoPagina.ayuda)">
        <span class="icon-bot_ico_ayudaenlinea" 
          (click)="ayudaEnLinea()"
          aria-label="Button that displays a tooltip that has custom delays through a default config">
        </span>
      </a>
    </div>

  </div>
  <!-- 
    <div class="pagina_titulo">
      <div class="logo_registro {{infoPagina.color}}">
        <span class="icon-{{infoPagina.icono}}"></span>
      </div>
      <div class="titulo">
        <h4 *ngIf="info[0] !=''">{{infoPagina.subtitulo}}</h4>
        <h2>{{infoPagina.titulo}}</h2>
      </div>
      <div class="botones">
        <a *ngIf = "infoPagina.location" href="">
          <span class="icon-bot_ico_volver"></span>
        </a>
        <a href="http://localhost:4200/{{info[5]}}" target="_blank"  *ngIf = "(infoPagina.ayuda)">
          <span class="icon-bot_ico_ayudaenlinea" 
            (click)="ayudaEnLinea()"
            aria-label="Button that displays a tooltip that has custom delays through a default config">
          </span>
        </a>
      </div>

    </div>
  -->
  

  
  
  <div class="texto_introductorio">
  
      <p [innerHTML]="_info[4]"></p>
    <!-- 
    <p>
      {{_info[4]}}
    </p>
     -->
  </div>
  
</div>
