.sisa_page_cabecera{ /* min-height: 500px; */ }

.pagina_titulo{				
    display: flex;	
    align-items: center; 
    position: relative;	
    width: 100%; 
    height: 48px; 
    margin-top: 10px; 
    margin-bottom: 20px; 
    /*border-radius: 4px; margin: 0 0 10px 0; background-color: #e8e8e8;*/ 
}

.pagina_titulo .logo_registro{		position: relative; float: left;  text-align: center; width: 48px; height: 48px; padding: 7px; margin: 0px; border-radius: 4px;}
.pagina_titulo .logo_registro span{	position: relative; font-size: 36px; margin: auto; text-align: center; color: white !important;	}

.pagina_titulo .titulo{		margin: 0px 10px;	 }
.pagina_titulo .titulo *{	margin: 0px;	 }
.pagina_titulo .titulo h4{			margin-bottom: 4px;	 }

.pagina_titulo .botones{	position: absolute; right: 0px; bottom: 10px;}
.pagina_titulo .botones a{	text-decoration-line: none;}
.pagina_titulo .botones span{   
    font-size: 20px;
    color: #595959;
    background-color: rgba(153, 153, 153, 0);
    padding: 4px;
}
.pagina_titulo .botones span:hover {
	color: #3366ff;
	background-color: rgba(153, 153, 153, .1);
	padding: 3px 3px;
	border: solid 1px rgba(153, 153, 153, 1);
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(153, 153, 153, .85) !important;
	cursor: pointer;
	text-decoration: none;
}
.contenido{ margin-bottom: 40px; }
