<p>
  consultar-inscripcion-codigoalfanumerico works!
</p>

<div class="row Formulario">
    <form #formConsulta="ngForm" class="col-12">
        
        <div class="item">
            <div class="w50_">
                <input type="text" placeholder="Ingrese código" name="dato">
            </div>
            <div class="w50_">
                <s-commons-BotonCTextoEIcono [infoBoton]="_botones.buscar" (click)="consultarPreinscripcionConsulta(dato)" ></s-commons-BotonCTextoEIcono>
            </div>
        </div>
        
    </form>
  </div>
  <div *ngIf="consultarInscripcionResultado === true" class="respuesta">
    {{t_resultado | json }}
  
      <s-commons-lista [idLista]='t_resultado' class="row"></s-commons-lista>
  
  
  </div>  
  
  
  <div class="listado">
    <!--  {{_residentes |json}}  -->
    <div *ngFor="let residente of _residentesX" class="fila">
      <div>{{residente.$key}}</div>
      <div>{{residente._e_apellido}}</div>
      <div>{{residente._e_nombre}}</div>
      <div>{{residente._e_numerodocumento}}</div>
      <div>{{residente._a_concursaEspecialidad}}</div>
      <div>{{residente._a_concursaTipo}}</div>
      <!-- <div>{{residente.}}</div> -->
      <div class="acciones">
          <div class="al"><span class="icon-askeletor"></span></div>     
      </div>
    </div>
  </div>
  {{_residentesX |json}}


  <!-- 

    Fugoqcc5T9
    34354353

    Datos encontrados: 4. DNI: 11111111

    Email: alezei@gmail.com
    Tipo de examen: Examen Unico
    Especialidad: Anatomía patológica
    Provincia: N/A
    Institución: UNIVERSIDAD NACIONAL DE CORDOBA

    Email: alezei@gmail.com
    Tipo de examen: Examen Unico
    Especialidad: Anatomía patológica
    Provincia: N/A
    Institución: UNIVERSIDAD NACIONAL DE CORDOBA

    Email: aledrienisienia@gmail.com
    Tipo de examen: Examen Unico - 2019
    Especialidad: Cardiología
    Provincia: Catamarca
    Institución: N/A

    Email: lionelromanelli@gmail.com
    Tipo de examen: prueba concurso
    Especialidad: Anatomía patológica
    Provincia: CABA
    Institución: N/A

    El código alfanumérico será enviado al mail que ve en pantalla.
   -->