.homes{	margin: 20px 0px;}

.homes .buscador{	display: flex;	flex-direction: row;}
.homes .buscador p{	text-align: right;}	
.homes .buscador div:first-child{	width: 100%;} /* background-color: orange !important; */	

.homes.botonera{ background-color: white; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.5) !important; padding: 20px;}

.numeros > div {
	display: flex; 
	flex-direction: column; 
	border-radius: 4px; 
	padding: 8px 12px; 
	flex-grow: 1;
	margin: 0px 10px 0px 10px;
}
.numeros .numero > h1{	font-size: 72px !important; text-align: center;	}
.numeros .texto *,
.numeros .numero *{	margin: 0px; color: rgba(255,255,255,.5);	}
.numeros .texto a{	font-size: 16px; font-weight: bold;	}

	/* Reveer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



.SISA_BotoneraLateral > .secciones > .row p { margin-bottom: 10px;	}

.buscador .panelBuscador {	justify-content: center; margin: 40px 0px; }
.buscador .panelBuscador input[type="text"]{	height: 40px;	/* padding: 14px !important; */ }

.buscador .panelBuscador .boton{	height: 40px !important; display: flex; align-content: center; }
.buscador .panelBuscador span{	font-size: 19px !important; }
.buscador .panelBuscador > div:first-child p{	margin-right: 0px !important; }


.numeros{ display: flex; flex-direction: row; justify-content: space-between !important; margin-bottom: 40px;	}

.numeros > div {
	display: flex; 
	flex-direction: column; 
	border-radius: 4px; 
	padding: 8px 12px; 
	flex-grow: 1;
	margin: 0px 10px 0px 10px;
}
.numeros > div a{	color: #FFF !important;    } 
.numeros > div .numero > h1{	font-size: 72px; text-align: center;	}
.numeros > div .numero > h3:first-child{	margin-bottom: 10px;	}
.numeros > div .numero > h3 a{	font-size: 36px; text-align: center;	}
.numeros > div .texto{	/* margin-left: 10px; */ text-align: center;	}

.numeros > div .texto *,
.numeros > div .numero *{	margin: 0px; color: rgba(255,255,255,.5);	}
.numeros > div .texto a{	font-size: 16px; font-weight: bold;	}


.mapaInteractivo{		display: flex; flex-direction: row; align-items: flex-start; margin-top: 40px;	}
.mapaInteractivo .mapa{	
	position: relative;
	display: flex; 
	flex-grow: 2;
	width: 480px !important;
	height: 640px;
	border-radius: 4px;
	padding: 20px; 
	background-color: #3366ff;
}



.mapaInteractivo .info{	 
	display: inline; margin-left: 10px;
}


.mapaInteractivo .mapa > span{font-size: 132px;}
.mapaInteractivo .mapa > span:hover{color: white;}
/*
#holap:hover{	cursor: pointer;  color: red;	}
.mapaInteractivo *{box-sizing : border-box;}
*/


.reportes h2{	margin: 40px 0px 20px 0px;}
.reportes .ul_sisa > li{	border-collapse: collapse; padding: 10px; border-radius: 8px;}
.reportes .ul_sisa > li:hover{	box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;}
.reportes .ul_sisa > li span{	float: left; display: none;}
.reportes .ul_sisa > li:hover span{	 display: block;}
.reportes .ul_sisa > li h3{ margin-left: 30px; margin-bottom: 0px; color: #3366ff !important;}
.reportes .ul_sisa > li p{ margin-left: 30px; margin-bottom: 0px;}
.reportes .ul_sisa > li:hover p b{ color: #3366ff !important;}

.serviviosWeb .col-xs-6{	
	width: 49% !important;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 4px !important;
	background-color: #f5f5f5;
}

.serviviosWeb .col-xs-6:hover{		background-color: #fff;	box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;	}

.serviviosWeb .col-xs-6 .esquina{	
	display: none;
	position: relative;
	float: right;
	top: -10px;
	right: -10px;
	padding: 10px;
	border-radius: 4px !important;
	background-color: #3366ff;
	}
.serviviosWeb .col-xs-6:hover .esquina{	display: block;	}
.serviviosWeb .col-xs-6 .esquina span{	font-size: 24px;	color: #fff;	}

.serviviosWeb .col-xs-6:nth-child(odd){	float: left;	}
.serviviosWeb .col-xs-6:nth-child(even){	float: right;	}

.serviviosWeb .col-xs-6 p{	margin: 0px;	}
.serviviosWeb .col-xs-6 h3{	margin: 0px 0px 20px 0px;	}
.serviviosWeb .col-xs-6 h4{	margin: 10px 0px 5px 0px;	}

.serviviosWeb .col-xs-6 .destacado{ color:#3366ff;}
.serviviosWeb .col-xs-6 p strong{ color:#3366ff;}

.serviviosWeb .col-xs-6 .icono{	float:left; }
.serviviosWeb .col-xs-6 .icono span{	font-size: 24px; color: #3366ff; }
.serviviosWeb .col-xs-6 .texto{	margin-left: 30px;}

.noticias{	background-color: white; border-radius: 4px !important; box-shadow: 0 1px 4px rgba(0,0,0,.5) !important; margin-bottom: 40px;	}

.documentos{	/*background-color: white; border-radius: 4px !important; box-shadow: 0 1px 4px rgba(0,0,0,.5) !important; margin-bottom: 40px;*/	}
.documentos .descargas .item > span:first-child{	margin-right: 4px;}
.documentos .descargas .item > span:nth-child(1){			background-color: #b85095; color: white;	}
.documentos .descargas .item > span:nth-child(1):hover{	background-color: white; color: #b85095;	}
.documentos .descargas .item > span:nth-child(2){			background-color: #538528; color:white;	}
.documentos .descargas .item > span:nth-child(2):hover{	background-color: white; color: #538528;	}


.serviviosWeb .listaDeRecuadros .item > span:nth-child(2):hover{	background-color: white; color: #538528;	}

