<div id="noticias_base">
  <!-- Noticias i =========================================================== -->

  <div class="noticias_texto">
    <p id="noticia_fecha">
      24 de marzo del 2016
    </p>
    <h2>Actividad de capacitación sobre RESAM en Jujuy</h2>
    <p>
      El SISA se suma a la difusión de las recomendaciones de la campaña del Ministerio de Salud de la Nación. Los mosquitos Aedes
      aegypti pueden transmitir enfermedades como el dengue, el chikungunya y el zika que están circulando en la región de
      las Américas y que pueden resultar graves para la salud.
    </p>
    <p>
      Enlaces relacionados:
      <br>
      <b>
        <a href="#">Información para prevención</a>
      </b>
    </p>
  </div>
  <div class="noticias_foto"></div>
  <div class="util_floatclear"></div>
  <!-- Este DIV evita que el FLOAT rompa todo-->

</div>
<!-- Noticias f =========================================================== -->




<div class="seccion" id="servicios_seccion">
  <!-- Servicios i =========================================================== -->
  <div class="container">

    <div class="row" id="servicios">



      <div class="util_floatizq">
        <div class="panel" id="servicios_recuadro1">
          <div class="servicios_recuadro" id="homelogoff_serv_buscador">
            <div class="ico_mod_serviciosweb"></div>
          </div>
          <div class="panel-body">
            <h4>Inter Operabilidad
              <br>Servicios web</h4>
          </div>
        </div>
      </div>

      <div class="util_floatizq">
        <div class="panel" id="servicios_recuadro2">
          <div class="servicios_recuadro" id="homelogoff_serv_movil">
            <div class="ico_mod_movile"></div>
          </div>
          <div class="panel-body">
            <h4>SISA Móvil</h4>
          </div>
        </div>
      </div>

      <div class="util_floatizq">
        <div class="panel" id="servicios_recuadro3">
          <div class="servicios_recuadro" id="homelogoff_serv_buscador">
            <div class="ico_mod_geosisa"></div>
          </div>
          <div class="panel-body">
            <h4>GeoSISA</h4>
          </div>
        </div>
      </div>

      <div class="util_floatizq">
        <div class="panel" id="servicios_recuadro4">
          <div class="servicios_recuadro" id="homelogoff_serv_buscador">
            <div class="ico_mod_codificaciones"></div>
          </div>
          <div class="panel-body">
            <h4>Codificaciones públicas</h4>
          </div>
        </div>
      </div>

      <div class="util_floatizq">
        <div class="panel" id="servicios_recuadro5">
          <div class="servicios_recuadro" id="homelogoff_serv_verificar">
            <div class="ico_mod_verificador"></div>
          </div>
          <div class="panel-body">
            <h4>Verificador constancias</h4>
          </div>
        </div>
      </div>

      <div class="util_floatizq">
        <div class="panel" id="servicios_recuadro6">
          <div class="servicios_recuadro" id="homelogoff_serv_biblioteca">
            <div class="ico_mod_autoridades"></div>
          </div>
          <div class="panel-body">
            <h4>Autoridades y referentes</h4>
          </div>
        </div>
      </div>

      <div class="util_floatizq">
        <div class="panel" id="servicios_recuadro7">
          <div class="servicios_recuadro" id="homelogoff_serv_central">
            <div class="ico_mod_capacitacion"></div>
          </div>
          <div class="panel-body">
            <h4>Capacitación</h4>
          </div>
        </div>
      </div>

      <!--
        <div class="util_floatizq">
          <div class="panel" id="servicios_recuadro8">
            <div class="servicios_recuadro" id="homelogoff_serv_buscador">
              <div class="ico_mod_seisabi"></div>
            </div>
            <div class="panel-body">
              <h4>SISABI
                <br>Business Intelligence</h4>
            </div>
          </div>
        </div>

        <div class="util_floatizq">
          <a href="serv_agendasanitaria.html" target="_self">
            <div class="panel" id="servicios_recuadro9">
              <div class="servicios_recuadro" id="homelogoff_serv_agenda">
                <div class="ico_mod_agenda"></div>
              </div>
              <div class="panel-body">
                <h4>Agenda sanitaria</h4>
              </div>
            </div>
          </a>
        </div>
      -->

    </div>


  </div>
</div>
<!-- Servicios f =========================================================== -->





<div class="seccion" id="notcapa_seccion">
  <!-- Noticias / Capacitaciones i =========================================================== -->

  
  <div class="container">
    <div class="row">

      <div class="col-3">

        <div class="panel">
          <div>
            <img src="../../../../assets/img/png/noticias/capa_noticia001.jpg" class="img-fluid">
          </div>
          <div class="notcapa_panel_texto">
            <h3>Central de Reportes</h3>
            <p>
              Acceso a reportes y listados en tiempo real
            </p>
          </div>
        </div>
        
      </div>

      <div class="col-3">
        
        <div class="panel">
          <div>
            <img src="../../../../assets/img/png/noticias/capa_noticia122.jpg" class="img-fluid">
          </div>
          <div class="notcapa_panel_texto">
            <h3>Registro Nacional de ONGs</h3>
            <p>
              Formulario de registro público
            </p>
          </div>
        </div>
        
      </div>

      <div class="col-3">
        
        <div class="panel">
          <div>
            <img src="../../../../assets/img/png/noticias/capa_noticia118.jpg" class="img-fluid">
          </div>
          <div class="notcapa_panel_texto">
            <h3>RESIDENCIAS</h3>
            <p>
              Examen único y otros exámenes de residencias
            </p>
          </div>
        </div>
        
      </div>

      <div class="col-3">
        
        <div class="panel">
          <div>
            <img src="../../../../assets/img/png/noticias/capa_noticia116.jpg" class="img-fluid">
          </div>
          <div class="notcapa_panel_texto">
            <h3>ReNIS</h3>
            <p>
              Registro Nacional de investigaciones en salud
            </p>
          </div>
        </div>
        
      </div>


    </div>
  </div>
</div>
<!-- Noticias / Capacitaciones f =========================================================== -->
