
<!--  Pagina base - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->

<s-commons-basicPage [info]="info"></s-commons-basicPage>

<!-- 
/*  textoIntro: string = 'Para información sobre los distintos concursos de residencias consulte la web del Ministerio de Salud de la Nación www.msal.gov.ar/residencias';  */

  //  info es la informacion que se pasa a traves del <s-commons-basicPage> para que se muestre
  // 0 = Subtitulo o sigla. Si no lleva no se muestra y se reordena
  // 1 = Titulo o sigla
  // 2 = Color del registro o modulo
  // 3 = Icono del registro o modulo
  // 4 = Texto de la intro
  info: string[] = [
    '',
    'Exámenes para residencias',
    'reg_residencias',
    'reg_residencias',
    'Para información sobre los distintos concursos de residencias consulte la web del Ministerio de Salud de la Nación www.msal.gov.ar/residencias'
  ];

 -->




<!--  Botones - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->

<div class="contenedorDeBotones">              
    <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_1" (click)="c0_activaDesactivaPaso(0)"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_2" (click)="c0_activaDesactivaPaso(1)"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_3" (click)="c0_activaDesactivaPaso(2)"></s-commons-BotonCTextoEIcono>      
    <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_4" (click)="c0_activaDesactivaPaso(3)"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.paso_5" (click)="c0_activaDesactivaPaso(4)"></s-commons-BotonCTextoEIcono>
    <s-commons-BotonCTextoEIcono [infoBoton]="c0_pasos_botones.completar" (click)="c0_resetea()"></s-commons-BotonCTextoEIcono>
</div>
<!-- 
  c0_pasos_botones = {
    paso_1: ['boton_general', 'bot_ico_aceptar', 'Paso 1'],
    paso_2: ['boton_general', 'bot_ico_aceptar', 'Paso 2'],
    paso_3: ['boton_general', 'bot_ico_aceptar', 'Paso 3'],
    paso_4: ['boton_general', 'bot_ico_aceptar', 'Paso 4'],
    paso_5: ['boton_general', 'bot_ico_aceptar', 'Paso 5'],
    completar: ['boton_pos', 'askeletor', 'Completar paso a paso']
  };
 -->



<!--  Botones - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->

<s-commons-panel-pasos [infoInput]="_infocomponentes[0]" (salida)="c0_activaPaso($event)"></s-commons-panel-pasos>

<br>
<div *ngIf="c0_pasoActual === 1">Info 1</div>
<div *ngIf="c0_pasoActual === 2">Info 2</div>
<div *ngIf="c0_pasoActual === 3">Info 3</div>
<div *ngIf="c0_pasoActual === 4">Info 4</div>
<div *ngIf="c0_pasoActual === 5">Info 5</div>
<br>

<!-- 
    _infocomponentes: any[] = [
      {
        titlulo: 'Paso 1',
        subtitulo: 'subtitulo paso 1',
        descripcion: 'lorem ipsum loco lorem ipsum loco lorem ipsum loco lorem ipsum loco lorem. ipsum loco lorem ipsum loco',
        seleccionado: true,
        completado: false
      }, {
        titlulo: 'Paso 2',
        subtitulo: null,
        descripcion: 'lore loco lorem ipsum loco lorem ipsum loco lorem. ipsum loco lorem ipsum loco',
        seleccionado: false,
        completado: false
      }, {
        titlulo: 'Paso 3',
        subtitulo: 'subtitulo paso 3',
        descripcion: 'lore loco lorem ipsum loco lorem ipsum loco lorem. ipsum loco lorem ipsum loco',
        seleccionado: false,
        completado: false
      }, {
        titlulo: 'Paso 4',
        subtitulo: null,
        descripcion: 'lore loco lorem ipsum loco lorem ipsum loco lorem. ipsum loco lorem ipsum loco',
        seleccionado: false,
        completado: false
      }, {
        titlulo: 'Paso 5',
        subtitulo: 'subtitulo paso 3',
        descripcion: 'lore loco lorem ipsum loco lorem ipsum loco lorem. ipsum loco lorem ipsum loco',
        seleccionado: false,
        completado: false
      }
    ]
 -->


<!--  Recuadro Info - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->

<s-commons-recuadroInfo [infoInput]="_x"></s-commons-recuadroInfo>

<!-- 

    _x:  {
        configuracion: {
          tipo: 'icono', // simple
          icono: 'askeletor',
          color: 'orange',
          distribucionHorizontal: true // T-F
        },
        informacion: {
          titulo: 'Titulo',
          subtitulo: 'Subtitulo',
          texto: [
            '<strong>NO IMPORTANTE</strong>: El correo electrónico es imprescindible para la gestión de su pre-inscripción ya que el sistema lo utiliza para notificar diferentes operaciones.',
            '(Por ejemplo para el envío del código que le permitirá consultar el estado de su inscripción). <a target="_blank" href="http://www.msal.gov.ar/residencias">Verifique que sea correcto</a> y que lo utilice actualmente.'
          ]
        }
      }
-->







<!--  Angular *ng - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->

<div *ngIf="c0_pasoActual === 1">Info 1</div>


<!--  Varios - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->


<p [innerHTML]="_info[4]"></p>