.recuadro{
    display: flex;
    padding: 20px;
    margin: 0 10px 0 20px;
    border-radius: 8px;
    /* background-color: white; */
    /* border: 1px solid red; */
}

.recuadro .contenedor.iconoA{   display: flex; flex-direction: row;}
.recuadro .contenedor.iconoA .icono{    margin-right: 20px;}

.recuadro p,
.recuadro span{
    color: white;
}
.recuadro span{ font-size: 32px; }
