<div class="footer">
  <div>
    <div class="container">
      <div class="row proyectos">

        <div class="col-12 col-sm-6 col-md-2">
          <img src="../../../../assets/img/png/seguridad/ima_seguridad_sll.png" width="100" height="40" alt="logo sll">
        </div>
        <div class="col-12 col-sm-6 col-md-2">
          <img src="../../../../assets/img/png/seguridad/ima_seguridad_pdp.png" width="100" height="40" alt="logo pdp">
        </div>
        <div class="col-12 col-sm-6 col-md-2">
          <img src="../../../../assets/img/png/seguridad/ima_seguridad_renaper.png" width="100" height="40" alt="logo renaper">
        </div>
        <div class="col-12 col-sm-6 col-md-2">
          <img src="../../../../assets/img/png/seguridad/ima_seguridad_sintys.png" width="100" height="40" alt="logo sintys">
        </div>
        <div class="col-12 col-sm-6 col-md-2">
          <img src="../../../../assets/img/png/seguridad/ima_seguridad_hl7.png" width="100" height="40" alt="logo hl7">
        </div>
        <div class="col-12 col-sm-6 col-md-2">
          <img src="../../../../assets/img/png/seguridad/ima_seguridad_arsat.png" width="100" height="40" alt="logo arsat">
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row argentina">

      <div class="col-12 col-sm-4">
        <div class="sisa_logo_verneg"></div>
        <br> Soporte técnico y asistencia
        <br>
        <div id="pie_soporte">
          <a>soporte@sisa.msal.gov.ar
          </a>
        </div>
        <a>Términos y condiciones</a>
      </div>
      <div class="col-12 col-sm-4">
        <div class="msal_logo_verneg"></div>
        <br> Ministerio de Salud de la Nación
        <br> Tel 54-11-4379-9000
        <br> Av. 9 de Julio 1925 (C1073ABA)
        <br> Buenos Aires - República Argentina
        <div class="presidencia_logo"></div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="publicidad_logo"></div>
      </div>

    </div>
  </div>
</div>