
<div class="botoneraLateral">
  <!-- menu i --------------------- -->
  <div class="menu">
    <div id="SISAbl_bot_op1">
      <span class="icon-{{temp}}"></span>
      <h4>Qué es REFES</h4>
    </div>
    <div id="SISAbl_bot_op3">
      <span class="icon-bot_ico_geolocalizacion_mapa"></span>
      <h4>Mapa</h4>
    </div>
    <!-- Solapa injustamente censurada por los altos mandos
            <div id="SISAbl_bot_op4">
                <span class="icon-bot_ico_archivos_descargar"></span>
                <h4>Descargas</h4>
            </div>
            <div id="SISAbl_bot_op5">
                <span class="icon-mod_serviciosweb"></span>
                <h4>Servicios web</h4>
            </div>
            <div id="SISAbl_bot_op6">
                <span class="icon-mod_centraldereportes"></span>
                <h4>Reportes</h4>
            </div>
            <div id="SISAbl_bot_op7">
                <span class="icon-bot_ico_cmdb_documentos"></span>
                <h4>Documentos</h4>
            </div>
            <div id="SISAbl_bot_op8">
                <span class="icon-mod_autoridadesyreferentes"></span>
                <h4>Referentes</h4>
            </div>
                <div id="SISAbl_bot_op2">
                    <span class="icon-ico_unicorn"></span>
                    <h4>Unicornios</h4>
                </div>
            -->
  </div>
  <!-- menu f --------------------- -->

    <!-- secciones i --------------------- -->
  <div class="secciones">

    <div class="" id="sec_op0">
      <!-- <h2>Explorar biblioteca</h2> -->
      <p>Seleccione alguna opción.</p>
      <h4>0> {{temp}}</h4>
      <p>
        botonera-lateral works!
      </p>
      {{temp}}
      
      
    </div>


    <div class="tempexplorarBiblioteca" id="sec_op1">
      <h1>¿Qué es REFES?</h1>
      <p>
        El Registro Federal de Establecimientos de Salud (REFES) incluye a todos los establecimientos sanitarios del país del sector
        público y privado, con y sin internación, que se encuentran funcionando en cada una de las jurisdicciones provinciales
        según la reglamentación vigente en ellas.
      </p>
      <p>
        Este registro fue creado por la Resolución Ministerial 1070/09 del Ministerio de Salud de la Nación y cuenta con la aprobación
        del Consejo Federal de Salud.
      </p>
      <p>
        La responsabilidad de actualización y mantenimiento del registro es de cada jurisdicción provincial. Para ello, el SISA dispone
        del Formulario de Establecimiento, que contiene toda la información de cada establecimiento de salud. En él se especifican
        los datos referentes a la estructura, servicios y recursos de un establecimiento, incluyendo el aspecto funcional,
        la identificación y definición de los actores involucrados y los principios generales de funcionamiento. El diseño
        y la estructuración de los datos incluidos en el formulario han sido desarrollados por el equipo del SISA y aprobados
        por la Dirección de Regulación Sanitaria y Calidad en Servicios de Salud del Ministerio de Salud de la Nación y por
        la red de referentes de regulación sanitaria y tecnología del SISA.
      </p>
      <p>
        La responsabilidad de actualización y mantenimiento del registro es de cada jurisdicción provincial. Para ello, el SISA dispone
        del Formulario de Establecimiento, que contiene toda la información de cada establecimiento de salud. En él se especifican
        los datos referentes a la estructura, servicios y recursos de un establecimiento, incluyendo el aspecto funcional,
        la identificación y definición de los actores involucrados y los principios generales de funcionamiento. El diseño
        y la estructuración de los datos incluidos en el formulario han sido desarrollados por el equipo del SISA y aprobados
        por la Dirección de Regulación Sanitaria y Calidad en Servicios de Salud del Ministerio de Salud de la Nación y por
        la red de referentes de regulación sanitaria y tecnología del SISA.
      </p>
    </div>


  </div>
  <!-- secciones f --------------------- -->

</div>
